html, body {
    width: 50%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(254, 222, 79);
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 1.8em;
    text-align: center;
}

.container {
    width: 360px;
}

#form {
    display:flex;
    justify-content: center;
}

#input {
    width: 290px;
    height: 40px;
    margin-right: 5px;
    padding-left: 8px;
    border-width: 0;
    border: 1px solid black;
    border-radius: 20px;
    outline: none;
    font-size: 18px;
    vertical-align: middle;
}



#add {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    border: none;
    vertical-align: middle;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(182, 224, 217);
}

#add:hover{
    color: rgb(182, 224, 217);
    background-color: white;
    transition: all 1s linear;
}

.to-dos {
    margin-top: 25px;
    font-size: 18px;
    align-items: flex-start;
}

